<article class="stadium-card">
  <div class="card-media">
    @if (stadium.image) {
      <img [src]="stadium.image" [alt]="stadium.name + ' image'" />
    } @else {
      <div class="avatar-placeholder">{{ stadium.name.charAt(0) }}</div>
    }
  </div>

  <div class="card-content">
    <div class="card-meta">
      <span>#{{ stadium.id }}</span>
      <span>{{ stadium.capacity | number }} seats</span>
    </div>
    <h2>{{ stadium.name }}</h2>
    <p>{{ stadium.city }}</p>
    <p class="address">{{ stadium.address }}</p>
  </div>
</article>
